::-webkit-scrollbar {
  width: 5px;

}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply rounded-[5px];
  background: brown;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(196, 51, 51);
}

::-webkit-scrollbar {
  display: none;
}