.App{
  height: 100vh;
  width: 100vw;
  padding: 1rem;
}

.Screen {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.tab-buttons button {
  padding: 10px 20px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  outline: none;
}

.tab-buttons button.active {
  background-color: #007bff;
  color: #fff;
}

.tab-content {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ccc;
}

.conditions{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.condition-card{
border: #007bff;
border-style: double;
border-width: 2px;
}