html{

}

.App{
  height: 100%;
  width: 100%; 
}

.Screen {
  text-align: center;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 
}

.tab-buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
  

}

.tab-buttons button {
  padding: 10px 20px;
  background-color: #F4F0F1;
  border: none;
  cursor: pointer;
  outline: none;
  border-radius: 15px 15px 0 0;
  color: #5C180D;
}

.tab-buttons button.active {
  background-color: #FCF5E5;
  color: #5C180D;
}

.tab-content {
  width: 45vw;
  padding: 20px;
  background-color: #FCF5E5;
}

.conditions{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}

.condition-card , .spell-card, .equipment-card, .monster-card{
border: #007bff;
border-style: double;
border-width: 2px;
}