@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: 'Modesto Condesed' , 'Modesto expanded';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Modesto Condesed';
  src: url('../src/assets/fonts/modesto-condensed-bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Modesto expanded';
  src: url('../src/assets/fonts/modesto-expanded.ttf');
}


